{# <div id="pcard"> #}
{% for slide in component.slides %}
    {# <div class="card animate my-4">
        <img src="{{slide.image}}" alt="slide.title">
        <div class="card-content">
            <h2 class="card-title">{{slide.title}}</h2>
            <p class="card-description">{{slide.description}}</p>
            <a href="#" class="card-button">Buy Now</a>
        </div>
    </div> #}
    <div class="card" style="width: 18rem;">
        <img src="{{slide.image}}" class="card-img-top" alt="{{slide.title}}">
        <div class="card-body">
            <h5 class="card-title">{{slide.title}}</h5>
            <p class="card-text">{{slide.description}}</p>
            <a href="#" class="btn btn-primary">Add to cart <i class="bi bi-cart2"></i></a>
        </div>
    </div>
{% endfor %}
{# </div> #}

