{# <div id="pcard"> #}
<div class="container-fluid my-5 text-center">
    <div class="row justify-content-center">        
        {% for slide in component.slides %}
            {# <div class="card animate my-4">
                <img src="{{slide.image}}" alt="slide.title">
                <div class="card-content">
                    <h2 class="card-title">{{slide.title}}</h2>
                    <p class="card-description">{{slide.description}}</p>
                    <a href="#" class="card-button">Buy Now</a>
                </div>
            </div> #}
            <div class="col-sm-10 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{slide.image}}" class="card-img-top" alt="{{slide.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{slide.title}}</h5>
                        <p class="card-text">{{slide.description}}</p>
                        <a href="#" class="btn btn-primary bth"><i class="bi bi-cart2 mx-2 fs-4"></i> Add to cart</a>                        
                        <a href="#" class="btn btn-danger mt-3 bth"><i class="bi bi-suit-heart mx-2 fs-4"></i> Add to favourites</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{# </div> #}

